:root {
    --light-purple : rgb(243, 232, 255);
    --dark-purple : #7C3AED;
    --light-gray : rgb(232, 234, 246);
    --dark-gray : rgb(94, 129, 209);
    --cart-shadow : rgba(94, 129, 209, 0.16) 0px 8px 24px
}
@font-face {
    font-family: Yekan Bakh;
    src: url(../public/fonts/YekanBakh-Bold.bbd877a3.woff) , format(woff);
}
@font-face {
    font-family: Yekan Bakh Fat;
    src: url(../public/fonts/YekanBakh-Fat.e508fcc6.woff);
}

h1,h2,h3,h4,h5{
    font-family: Yekan Bakh Fat
}
@import "tailwindcss";