:root {
    --light-purple : rgb(243, 232, 255);
    --dark-purple : #7C3AED;
    --light-gray : rgb(232, 234, 246);
    --dark-gray : rgb(94, 129, 209);
}
@font-face {
    font-family: Yekan Bakh;
    src: url(../public/fonts/e1d06869ee86ac98052a5a1788122235.woff2) , format(woff2);
}

@import "tailwindcss";