:root {
    --light-purple : rgb(243, 232, 255);
    --dark-purple : #7C3AED;
    --light-gray : rgb(232, 234, 246);
    --dark-gray : rgb(94, 129, 209);
}

@font-face {
    font-family: Vazir;
    src: url(../public/fonts/Vazir.woff) , format(woff);
}

@font-face {
    font-family: Vazir-Bold;
    src: url(../public/fonts/Vazirmatn-Bold.woff2) , format(woff2);
}

.vazir-bold{
    font-family: Vazir-Bold
}

@import "tailwindcss";